extends layout

block content
    h1 Login
    .col-md-6.col-md-offset-3
        .jumbotron
            .container
                form(action="/sign-in", method="POST")
                    if error
                        .alert.alert-danger(role="alert")= error.message

                    .form-group
                        input.form-control(type="text", placeholder="Username", name="username")
                    .form-group
                        input.form-control(type="password", placeholder="Password", name="password")

                    button.btn.btn-primary(type="submit", value="Go") Go

                    if redirectTo
                        input(type="hidden", name="redirectTo", value="#{redirectTo}")
