<div ng-if="RetroRoomVm.room">
    <h1>{{RetroRoomVm.room.name}}</h1>
    <retro-status-toggle is-owner="RetroRoomVm.isOwner" current-status="RetroRoomVm.room.status"></retro-status-toggle>
    <div class="items-wrapper">
        <div class="positives">
            <h2>Positives</h2>
            <ul>
                <li ng-repeat="item in RetroRoomVm.room.items.positives" ng-init="canEdit = (item.author === RetroRoomVm.loggedUsername)">
                    <item status="RetroRoomVm.room.status" data="item" is-editable="canEdit"></item>
                </li>
            </ul>
        </div>
        <div class="negatives">
            <h2>Negatives</h2>
            <ul>
                <li ng-repeat="item in RetroRoomVm.room.items.negatives" ng-init="canEdit = (item.author === RetroRoomVm.loggedUsername)">
                    <item status="RetroRoomVm.room.status" data="item" is-editable="canEdit"></item>
                </li>
            </ul>
        </div>
    </div>

    <div class="add-item-wrapper" ng-if="RetroRoomVm.room.status === 'adding-items'">
        <textarea ng-model="RetroRoomVm.newItem.description"></textarea>
        <input type="radio" value="positive" ng-model="RetroRoomVm.newItem.sign">+
        <input type="radio" value="negative" ng-model="RetroRoomVm.newItem.sign">-
        <button ng-click="RetroRoomVm.addItem(RetroRoomVm.newItem)">Add</button>
    </div>

</div>
